/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #eee;
}
.container {
  padding: 10px;
  max-width: 1000px;
  margin: 0 auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 50px;
}

.row {
  padding: 10px 0;
}
